body {
	font-family: sans-serif;
	margin: 0;
}
main {
	padding: 0 5px;
	max-width: 800px;
	margin: 0 auto;
}

nav {
	width: 100%;
	display: flex;
	flex-direction: row;
}

nav .sourcehut {
	flex-grow: 1;
	border-bottom: 1px solid #aaa;
	justify-content: flex-end;
}

nav .sourcehut svg {
	width: 26px;
	height: 26px;
	display: inline-block;
	line-height: .75em;
	vertical-align: -.17em;
}

nav .sourcehut a {
	text-decoration: none;
	color: #212529;
}

nav .sourcehut a:hover {
	text-decoration: underline;
}

nav .sourcehut .brand {
	font-size: 1.25rem;
	margin-right: 1rem;
}

nav .sourcehut .brand a:hover {
	text-decoration: none;
}

nav .codeberg {
	background: #2185d0;
	flex-grow: 1;
	border-bottom: 1px solid #2185d0;
}

nav .codeberg a {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	font-size: 1rem;
	box-shadow: none;
	background: 0 0;
	border: none;
	border-radius: .285714rem;
	align-self: center;
	padding: .785714em .928571em;
	transition: color .1s;
}

nav .codeberg a:hover {
	background: #00000014;
}

nav > div {
	padding: 3px;
	display: flex;
	align-items: center;
}

.install {
	text-align: center;
	margin: 75px auto;
	max-width: 340px;
}

.install-btn {
	display: block;
	margin-bottom: 0.5rem;
	background: #2185d0;
	color: #fff;
	border: 1px solid #0000001d;
	cursor: pointer;
	text-align: center;
	border-radius: .285714rem;
	outline: none;
	min-height: 1em;
	padding: .785714em 1.5em;
	line-height: 1em;
	text-decoration: none;
	transition: opacity .1s,background-color .1s,color .1s,box-shadow .1s,background .1s;
}

.install-btn:hover {
	background: #3876b3;
}

.install .install-btn {
	width: 100%;
}

details {
	padding: 0 1rem;
	margin: 0 -1rem 1rem;
}

details[open] {
	padding: 0 1rem;
	margin-left: calc(-1rem - 4px);
	border-left: 4px solid #dee2e6;
}

summary {
	background: #dee2e6;
	padding: 0 1rem;
	margin: 0 -1rem;
	cursor: pointer;
}

.codeberg-repos {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0;
}

.codeberg-repos li {
	display: flex;
	padding: 10px 0;
	border-bottom: 1px solid #dedede;
}

.codeberg-repos li:last-child {
	border-bottom: none;
}

.codeberg-repos a {
	color: #2185d0;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}

.codeberg-repos p {
	color: gray;
	margin: 0;
}
