{{ template "head.html" }}

<main>

<h1>yojo</h1>

<p><a href="/logout">Logout</a></p>

<p>Welcome to the yojo dashboard! You are logged in to
{{.SrhtName}} as
<strong>{{.SrhtUsername}}</strong> and to {{.GiteaName}} as
<strong>{{.GiteaUsername}}</strong>.</p>

<form method="post" action="">
{{if .UserEnabled}}
	<button type="submit" name="disable_user" class="install-btn">Disable for all my repositories</button>
{{else}}
	<button type="submit" name="enable_user" class="install-btn">Enable for all my repositories</button>
{{end}}
</form>

<p>Please select a repository to configure:</p>

<ul class="codeberg-repos">
	{{range .Repositories}}
		<li>
			<svg viewBox="0 0 16 16" class="svg octicon-repo" aria-hidden="true" width="32" height="32"><path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path></svg>
			<div>
				<a href="/repository/{{.ID}}">{{.Name}}</a>
				<p>{{.Description}}</p>
			</div>
		</li>
	{{end}}
</ul>

</main>

{{ template "foot.html" }}
