{{ template "head.html" }}

<main>

<h1>yojo</h1>

<p>
yojo is a bridge which submits builds.sr.ht jobs from Forgejo instances to run
continuous integration on commits and pull requests.
</p>

<form class="install">
	{{if not .SrhtUsername}}
	<button type="submit" class="install-btn" formaction="/redirect-srht">
		Login with {{.SrhtName}}
	</button>
	{{end}}

	{{if not .GiteaUsername}}
	<button type="submit" class="install-btn" formaction="/redirect-gitea">
		Login with {{.GiteaName}}
	</button>
	{{end}}

	{{if not .SrhtUsername}}
	<label>
		<input type="checkbox" name="enable_secrets" {{if .EnableSecrets}}checked{{end}}>
		<small>Enable build secrets</small>
		<br>
	</label>
	{{end}}

	{{if or .SrhtUsername .GiteaUsername}}
	<a href="/logout">Logout</a>
	{{end}}
</form>

{{with .SrhtUsername}}
<p>Logged in to sr.ht as <strong>{{.}}</strong>.</p>
{{end}}
{{if .GiteaUsername}}
<p>Logged in to {{.GiteaHostname}} as <strong>{{.GiteaUsername}}</strong>.</p>
{{end}}

{{if not .GiteaUsername}}
<details>
	<summary>Use a custom Forgejo/Gitea instance</summary>
	<p>
		If you want to use yojo with an instance different from
		{{.GiteaHostname}}, generate a new token with the
		following scopes, then copy-paste it below:
	</p>
	<ul>
		<li>On Forgejo: <code>repo</code> and <code>admin:repo_hook</code></li>
		<li>On Gitea: <code>repository</code> (Read and Write) and <code>user</code> (Read)</li>
	</ul>
	<form method="post" action="/authorize-gitea?custom">
		Instance URL: <input type="url" name="endpoint"/><br>
		Access token: <input type="password" name="token"><br>
		<button type="submit">Login</button>
	</form>
</details>
{{end}}

<p style="text-align: center"><small>
	<a href="https://codeberg.org/emersion/yojo">Source code</a>
</small></p>

</main>

{{ template "foot.html" }}
