{{ template "head.html" }}

<main>

<h1>{{.Repository.Owner.UserName}}/{{.Repository.Name}}</h1>

<p><a href="/">Back to index</a></p>

<form method="post" action="">
	<input type="hidden" name="owner" value="{{.Repository.Owner.UserName}}"/>
	<input type="hidden" name="repo" value="{{.Repository.Name}}"/>
	<p class="install">
		{{if .Enabled}}
			<button type="submit" name="disable" class="install-btn">Disable</button>
		{{else}}
			<button type="submit" name="enable" class="install-btn">Enable</button>
		{{end}}
	</p>
</form>

{{if and .Enabled .Secrets}}
<h2>Secrets</h2>
<form method="post" action="/repository/{{.Repository.ID}}/secrets">
	<input type="hidden" name="owner" value="{{.Repository.Owner.UserName}}"/>
	<input type="hidden" name="repo" value="{{.Repository.Name}}"/>

	{{range .Secrets}}
		<label>
			<input type="checkbox" name="secrets" value="{{.Uuid}}" {{ if .Enabled }}checked{{ end }}>
			<code>{{.Uuid}}</code> ({{.Name}})
		</label>
		<br>
	{{end}}

	<p><button type="submit">Save</button></p>
</form>
{{end}}

</main>

{{ template "foot.html" }}
